@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* NAVEGADOR */
nav{
    text-align: center;
}

.navegador li{
    font-size: small;
    display: inline;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.navegador a{
    color: black;
    text-decoration: none;
}

.navegador a:hover{
    color: mediumaquamarine;
}

/* CONTENIDO PRINCIPAL */
.container{
    margin: 2rem;
}

h1{
    text-align: center;
}

h2, h3{
    text-align: start;
}

.padre{
    background-color: darkred;

    width: 30rem;
    height: 30rem;

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hijo{
    background-color: lemonchiffon;

    width: 15rem;
    height: 15rem;

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PIE DE PÁGINA */
footer{
    position: relative;
    bottom: 0px;
}

.navegador, .footer{
    list-style-type: none;
}